@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply p-4 shadow border border-gray-200 rounded bg-white;
}

.jqvmap-label {
    @apply absolute card;
    padding: 0.25rem !important;
}
